.container {
    min-width: 150px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    z-index: 10;
}

.slogan {
  font-size: large;
  margin: 10px 0px;
}

.slogan-small {
  position: relative;
  right: 3rem;
}

.plan {
  margin-bottom: 1rem;
  padding: 2px 5px;
  border-radius: 10px;
}

.plan-title {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}

.name, .price{
  display: inline;
  font-size: large;
}

.price {
  margin-left: 1rem;
}
