<div class="main">
  <mat-form-field>
    <mat-label>Company Name</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Business Name </mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Street Address 1</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Street Address 2</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>City/Suburb</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="45">
      <mat-label>State</mat-label>
      <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field fxFlex="45">
      <mat-label>Postcode</mat-label>
      <input matInput placeholder="">
    </mat-form-field>
  </div>




  <mat-form-field>
    <mat-label>Contact Name</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contact Email</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contact Phone</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contact Mobile</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
</div>