.slogan {
  align-self: flex-end;
  font-size: large;
  margin-bottom: 1rem;
}

.example-full-width {
  width: 100%;
}

.navigation {
  align-self: center;
}

.navigation-step {
  display: inline;
}

.hidden {
  display: none;
}

mat-grid-list {
  margin: 1rem 0;

  mat-grid-tile {
    border: 1px solid black;
  }

  .selected {
      background-color: silver;
      border: none;
      box-shadow: 4px 4px 4px;
  }

  .grid-item {
    margin: auto;
    width: 33%;
    text-align: center;
  }
}
