<form class="main">
  <ng-container *ngIf="step==1">
    <div class="slogan">
      Let’s Start Success <br>
        Automation
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput required="true" type="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput required="true" type="password">
    </mat-form-field>

  </ng-container>

  <ng-container *ngIf="step==2">
    <div class="slogan">
      Tell Us About Your Store
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Store Name</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Country</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Phone</mat-label>
      <input matInput required="true">
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="step==3">
    <div class="slogan">
      Which Best Describes You?
    </div>
    <mat-form-field class="example-full-width hidden">
      <mat-label>First Name</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-grid-list cols="1" rowHeight="75px" [gutterSize]="'10px'" class="selections">

      <mat-grid-tile *ngFor="let s of best_describes; let i =index" class="selection"
        [ngClass]="i==selected_describe ? 'selected' : 'baba'" (click)="selected_describe=i">
        <div>
          <mat-icon>{{s.icon}}</mat-icon>
        </div>
        <div>{{s.description}}</div>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>

  <ng-container *ngIf="step==4">
    <div class="slogan">
      What Type Of Business?
    </div>
    <mat-form-field class="example-full-width hidden">
      <mat-label>First Name</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-grid-list cols="3" rowHeight="75px" [gutterSize]="'10px'" class="selections">



      <mat-grid-tile *ngFor="let s of type_business; let i =index" class="selection"
        [ngClass]="i==selected_type ? 'selected' : 'baba'" (click)="selected_type=i">
        <div>
          <mat-icon>{{s.icon}}</mat-icon>
        </div>
        <div class="s-description">{{s.description}}</div>
      </mat-grid-tile>

    </mat-grid-list>

  </ng-container>

  <ng-container *ngIf="step==5">
    <div class="slogan">
      How Do You Serve Your <br>
        Customers?
    </div>
    <mat-form-field class="example-full-width hidden">
      <mat-label>First Name</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-grid-list cols="3" rowHeight="75px" [gutterSize]="'10px'" class="selections">
      <mat-grid-tile *ngFor="let s of serve_customers; let i =index" class="
        tile-block" [ngClass]="s.selected ? 'selected' : 'baba'" (click)="s.selected=!s.selected">

        <div class="s-description">{{s.type}}</div>
        <div>
          <mat-icon class="small-icon" *ngIf="s.selected">remove_circle</mat-icon>
          <mat-icon class="small-icon" *ngIf="!s.selected">add_circle</mat-icon>
        </div>

      </mat-grid-tile>
    </mat-grid-list>

  </ng-container>

  <ng-container *ngIf="step==6">
    <div class="slogan">
      How Many Stores/Sites Will <br>
        You Have?
    </div>
    <mat-form-field class="example-full-width hidden">
      <mat-label>First Name</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-grid-list cols="1" rowHeight="75px" [gutterSize]="'10px'" class="selections">
      <mat-grid-tile *ngFor="let h of how_many; let i=index" [ngClass]="i==how_many_selected ? 'selected' : 'baba'"
        (click)="how_many_selected=i">
        <div class="grid-item">{{h.description}}</div>
        <div class="grid-item">
          <mat-icon>{{h.icon}}</mat-icon>
        </div>
        <div class="grid-item">{{h.description_num}}</div>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>

  <ng-container *ngIf="step==7">
    <div class="slogan">
      How Many Registers Per Site?
    </div>

    <mat-form-field class="example-full-width hidden">
      <mat-label>First Name</mat-label>
      <input matInput required="true">
    </mat-form-field>

    <mat-grid-list cols="1" rowHeight="75px" [gutterSize]="'10px'" class="selections">
      <mat-grid-tile *ngFor="let h of registers; let i=index" [ngClass]="i==register_selected ? 'selected' : 'baba'"
        (click)="register_selected=i">

        <div class="grid-item">{{h.description}}</div>
        <div class="grid-item">
          <mat-icon>{{h.icon}}</mat-icon>
        </div>
        <div class="grid-item">{{h.description_num}}</div>

      </mat-grid-tile>
    </mat-grid-list>

  </ng-container>

  <div class="navigation">
    <div *ngIf="step>1" class="navigation-step">
      <button mat-mini-fab color="primary" (click)="step=step-1">
            <mat-icon>arrow_backward</mat-icon>
        </button>
      Back
    </div>
    <div class="navigation-step">
      Next
      <ng-container *ngIf="step<7; else nextToDashboard">
        <button mat-mini-fab color="primary" (click)="step=step+1">
                <mat-icon>arrow_forward</mat-icon>
            </button>
      </ng-container>
      <ng-template #nextToDashboard>
        <button mat-mini-fab color="primary" [routerLink]="['/plandashboard']">
                <mat-icon>arrow_forward</mat-icon>
            </button>
      </ng-template>
    </div>
  </div>
</form>